#selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 62px;
  margin-bottom: 20px;
}

#menu {
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#menu h2,
#menu h3 {
  text-align: center;
  color: #333;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}

.food-name {
  text-align: center;
  margin-top: 10px;
}

.food-image {
  width: 150px;
  height: 150px;
  gap: 20px;
  object-fit: cover;
  display: block;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.text {
  text-align: center;
  margin: 0 auto;
}

.bu {
  display: block;
  margin: auto;
  background-color: rgb(62, 15, 57);
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.sel {
  width: 300px;
  padding: 8px;
  border: 2px solid hsl(299, 91%, 49%);
  color: #fff;
  border-radius: 8px;
  background-color: rgb(62, 15, 57);
}

label {
  margin-top: 4px;
  margin-right: 5px;
}

.containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.mess {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}

.show {
  border: 2px solid hsl(299, 91%, 49%);
  border-radius: 4px;
}

.containerr h1 {
  text-align: center;
  margin-top: 20px;
  color: rgb(62, 15, 57);
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  font-size: 18px;
}

.row button {
  border: 2px solid hsl(299, 91%, 49%);
}

@media (max-width: 1200px) {
  #selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 60px;
    width: 80%;
  }

  #menu {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  #selection {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
  }

  #menu {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  #selection {
    flex-direction: column;
    gap: 80px;
    margin-bottom: 40px;
  }

  #menu {
    padding: 10px;
  }

  label {
    font-weight: 600;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  #selection {
    gap: 30px;
  }
  select {
    width: 390px;
  }
}

@media (max-width: 365px) {
  #selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  select {
    width: 250px;
    padding: 8px;
    border: 2px solid hsl(299, 91%, 49%);
    color: #fff;
    border-radius: 8px;
    background-color: rgb(62, 15, 57);
  }
  #menu {
    padding: 3px;
  }

  label {
    font-weight: 600;
    font-size: 16px;
  }
  #maintain {
    font-size: 19px;
    margin-bottom: 0;
  }
  .show {
    border-radius: 4px;
  }
}
